<style>
 #About{

padding-top: 50px;
padding-bottom: 50px;
color: rgb(15, 14, 14);;
}

#About-btn{
padding-top: 40px;
margin-top:  20px;
margin-bottom: 30px;

}
.about-content{
text-align: justify;
padding-top:  20px;
padding-right: 50px;
margin-bottom: 20px;
}
.skills-bar p{
margin-bottom: 6px;
font-weight: 600;
}
.progress-bar{
border-radius: 16px;
}
.progress{
border-radius: 16px !important;
margin-bottom: 20px;
}
</style>
<form action="index.php?view=api/user/About"></form>

    <img src="image/college.jpg" alt ="university" width="100%" height="400" >

<section id ="About">
   <div class ="container">
      <div class ="row">
      <div class ="col-md-6">
        <h2>About us</h2>
      <div class = "about-content">
        WebPlanet a été créé en 2003 par Thierry Wergifosse au départ sous la forme d'une activité complémentaire. A peine 6 ans plus tard, une sprl est née: la passion devient métier!WebPlanet, c'est une équipe de professionnels passionnés. Un service professionnel et réactif, des contacts humains: la recette pour unecollaboration efficace.
        We design and develop dvanced technological solutions which enable our clients to achieve continuous and repeatable success. Our vision is to spearhead the development of a world in which every activity is simplified through an advanced digital solution. Our values are transparency, determination, quality, ambition and team-spirit(work).
      </div>
     <button type="button" class="btn btn-primary">Read More>></button>
      </div>
    <div class ="col-md-6  skills-bar">
    <p>Web Devloper</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">80%</div>
    </div>
    <p>Gestion en Informatique </p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 85%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">85%</div>
    </div>
    <p>Full stack developer</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">75%</div>
    </div>
    <p>Python Programming</p>
    <div class="progress">
      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">50%</div>
    </div>
    </div>
    </div>
    </div>
    </section>