<style>

  .header{
  background: url(image/téléchargement.jpg);
   background-size: 100% 800px;
    text-align:center;
    text-decoration:none;
    
}
.header h1{
  font-size: 60px;
  color: rgb(50, 22, 22);
}
.header p{
  font-size: 50px;
  color:rgb(50, 22, 22) ;
}
#course{
  padding-top: 50px;
    padding-bottom: 50px
}
#course h1{
  text-align: center;
 text-decoration:none;
}
#course p{
  font-size: 25px;
  font-weight: bold;
  color: brown;
}
#course  .row{
    padding-left: 200px;
    padding-right: 200px;
}
.col-md-5{
    margin: 40px auto;
}
.profile{
    padding:70px 10px 10px;
    background-color: #efefef;
    object-position: left;
}
.user{
    width: 100px;
    height: 150px;
    border-radius: 75%;
    
}
.profile img{
  width:100%;
  height: 300px;
}
#course span{
    font-size: 20px;
    color:#333;
}
blockquote{
    font-size: 16px;
    line-height: 30px;
}
blockquote::before{
    content:'\201C';
    font-size: 50px;
    color: gray;
    position: relative;
    line-height: 20px;
    bottom: -15px;
    right:5px;
}
blockquote::after{
    content:'\201D';
    font-size: 50px;
    color: gray;
    position: relative;
    line-height: 10px;
    bottom: -15px;
    left:5px;

}
.profile:hover{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}
i{
  color: red;
}
.cost{
  color: brown;
  font-size: 20px;
  border-top: 10px ;
  border-color: burlywood;
  border-radius: 80%;
}
</style>

<form action="index.php?view=api/user/Courses"></form>

  <div class="header">
  <h1> Courses</h1>
  <p>Rendez votre site accessible sur les smartphones et tablettes.</p>
  </div>
<section id="course">
 <div id ="container">
   <h1>Best Courses</h1>
   <p class="text-center">Nous Formons plus de 450 personnes par an</p>
   <div class="row">
     <div class="col-md-5 text-center">
       <div class ="profile">
         <img src="image/web.jpg" class="user">
         <blockquote>
          Very easy to use and customer support was very effective to solve my issues.
        En demande, beaucoup de Travail dans ce course.
          </blockquote>
          <span>Updated 21/09/22</span>
           <h3>Web Developer</h3>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <i class="fa fa-star"></i>
         <span>(239)</span>
       
       <div class = "cost">
        £250
      </div>
      </div>
     </div>

     <div class="col-md-5 text-center">
      <div class ="profile">
        <img src="image/web.jpg" class="user">
        <blockquote>
         Very easy to use and customer support was very effective to solve my issues.
         </blockquote>
        <h3>Web Developer <span>Updated 21/09/22</span></h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>(239)</span>
      
      <div class = "cost">
       £250
     </div>
     </div>
    </div>
 

    <div class="col-md-5 text-center">
      <div class ="profile">
        <img src="image/web.jpg" class="user">
        <blockquote>
         Very easy to use and customer support was very effective to solve my issues.
         </blockquote>
        <h3>Web Developer <span>Updated 21/09/22</span></h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>(239)</span>
      </div>
      <div class = "cost">
       £250
     </div>
    </div>
    <div class="col-md-5 text-center">
      <div class ="profile">
        <img src="image/web.jpg" class="user">
        <blockquote>
         Very easy to use and customer support was very effective to solve my issues.
         </blockquote>
        <h3>Web Developer <span>Updated 21/09/22</span></h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>(239)</span>
      </div>
      <div class = "cost">
       £250
     </div>
    </div>
    <div class="col-md-5 text-center">
      <div class ="profile">
        <img src="image/web.jpg" class="user">
        <blockquote>
         Very easy to use and customer support was very effective to solve my issues.
         </blockquote>
        <h3>Web Developer <span>Updated 21/09/22</span></h3>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <span>(239)</span>
      </div>
      <div class = "cost">
       £250
     </div>
    </div>
  </section>


 


