<?php
$myfile = fopen(ROOT_PATH . '/view/admin/index.html', "r") or die("Unable to open file!");
        $indexhtml= fread($myfile,filesize(ROOT_PATH . '/view/admin/index.html'));
        fclose($myfile);
        ?>

<div class="w3-sidebar " style="width:auto"><?php echo $indexhtml ?></div>
<div class="relative" >
<h2>Gestion des formations et les cours</h2>
<ul>
  <li><a href="index.php?view=view/admin/Formation">Créer une formation</a></li>
  <li><a href="index.php?view=api/formation/formationListAdmin">List formmation</a></li>  
  <li><a href="index.php?view=api/course/createCourse">Créer un cours</a></li>  
  <li><a href="index.php?view=api/course/createNewCourse">Créer un Nouvelle cours</a></li>
  <li><a href="index.php?view=api/course/courselist_cont">List Cours</a></li>
  

</ul>
</div>

