<div class="include-admin-menu"></div>
<h2>Gestion des formations et les cours</h2>
<ul>
  <li><a href="index.php?view=view/admin/Formation">Créer une formation</a></li>
  <li><a href="index.php?view=api/formation/formationListAdmin">List formmation</a></li>  
  <li><a href="index.php?view=api/course/createCourse">Créer un cours</a></li>  
  <li><a href="index.php?view=api/course/createNewCourse">Créer un Nouvelle cours</a></li>
  <li><a href="index.php?view=api/course/courselist_cont">List Cours</a></li>
  

</ul>
