.navbar-brand img{
    height: 50px;
    padding: left 20px;

}

.bgblue {
    background-color: lightsteelblue;
}
.bgyellow {
    background-color: lightgoldenrodyellow;
}

#profile-photo {
    max-height: 200px;
}

.cour-list table{
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: #14101a;
    background-color: #abcc76;
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #c2c7c7;
  }
  .buttonred {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    color: hwb(0 2% 94%);
    background-color: hwb(0 3% 14%);
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
  }
  .buttonred:hover {
    background-color: #c2c7c7;
  }

.cour-list td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}


thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.index-demand {
position: relative;
    align-items: left;
}

div.relative {
    position: relative;
    
    left: 300px;
    
  }
.w3-sidebar{height:100%;width:200px;background-color:#c4b3eb;position:fixed!important;z-index:1;overflow:auto}